* {
    box-sizing: border-box;
    /* border: 1px solid red */
}


/* general setup */

nav,
footer {
    padding: 1% 0;
    background-color: #aaa;
}

header {
    padding: 12% 0;
    background-color: 04052e;
    color: white
}

section.about {
    /* border: 1px solid red; */
    background-color: 140152;
    color: white;
}

section {
    min-height: 200px;
    padding: 6% 0;
    background-color: #bbb;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

nav.navbar {
    display: flex;
    padding: 5px;
    justify-content: center;
    background-color: 02010a;
    /* border: 1px solid red */
}

nav.navbar a {
    color: white;
    margin: 0 10px 0 10px;
    margin-bottom: 100px
}

div.school-list {
    /* border: 1px solid red  */
}

div.school-list>ul {
    list-style-type: none;
    width: 100%;
    text-align: justify-all;
}

div.school-list>ul>li {
    width: 100%;
}

section.projects {
    background-color: 22007C;
    color: white;
    /* border: 1px solid red */
}

section.contact-info {
    background-color: 0d00a4;
    color: white;
    /* border: 1px solid red */
}

footer.footer {
    background-color: 02010a;
    color: white;
    /* border: 1px solid red */
}